{% extends 'blog/base.html' %}
{% block content %}
<div class="content-section row justify-content-center">
    <div>
        <h3 class="justify-content-center">PBL Group Project</h3>
        <p class='text-muted'>
        <ul class="list-group border">
            <li class="list-group-item list-group-item-dark ">Group Members</li>
            <li class="list-group-item list-group-item-light">1. Siddhant Agrawal</li>
            <li class="list-group-item list-group-item-light">2. Aniket Patil</li>
            <li class="list-group-item list-group-item-light">3. Niteesh Shelke</li>
            <li class="list-group-item list-group-item-light">4. Shrushti Khairnar</li>
            <li class="list-group-item list-group-item-light">5. Pranav Patil</li>
        </ul>
        </p>
    </div>
    <div>
        <h3 class="justify-content-center">PBL Group Project</h3>
        <p class='text-muted'>
        <ul class="list-group border">
            <li class="list-group-item list-group-item-dark ">Modules Used</li>
            <li class="list-group-item list-group-item-light">1. Python-Django</li>
            <li class="list-group-item list-group-item-light">2. AWS S3</li>
            <li class="list-group-item list-group-item-light">3. Django-Storages</li>
            <li class="list-group-item list-group-item-light">4. Crispy-Forms</li>
            <li class="list-group-item list-group-item-light">5. Bootstrap4</li>
        </ul>
        </p>
    </div>
</div>
{% endblock content %}